body{
    margin: 0;
}

header{
    background: #121212;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
header img{
    padding-left: 100px;
    padding-right: 100px;
}

.exibicao{
    margin-top: 60px;
}

h2, h3, p{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.filmes{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.filme .exc{
    width: 250px;
}

.filme-desc{
    display: grid;
    align-items: center;
    gap: 5px;
}
.desc-filme1::after {
    content: url("/img/classificacao-livre.svg") no-repeat 0px 2px;
    width: 20px;
    height: 20px;
}
.desc-filme2::after {
    content: url("/img/classificacao-livre.svg") no-repeat 0px 2px;
    width: 20px;
    height: 20px;
}
.desc-filme3::after {
    content: url("/img/classificacao-livre.svg") no-repeat 0px 2px;
    width: 20px;
    height: 20px;
}
.desc-filme4::after {
    content: url("/img/classificacao-livre.svg") no-repeat 0px 2px;
    width: 20px;
    height: 20px;
}