.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
}
.form-group{
    margin: 0;
    padding: 0;
    width:350px;
    margin-bottom: 15px;
}